<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tasks List</title>
</head>
<body>
    <ul>
        @foreach (var task in ViewBag.Tasks)
        {
            <li>@task.Titulo} - @task.Autor</li>;
        }
    </ul>
</body>
</html>
