<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
	<ul>
		<a>Teste</a>
	</ul>
    <ul>
        @foreach (var task in ViewBag.Tasks)
        {
            <li>@task.Titulo} - @task.Autor</li>;
        }
    </ul>
</body>
</html>
